
* {
    box-sizing: border-box;
}

body{
    background-color: #c1c1c1;
}

h1 {
    margin: 0;
    padding: 5px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.wrap {
    height: 100%;
    width: 100%;
    /*max-width: 1260px;*/
	background: #364a5f;
    /*background: rgba(4,180,200,1);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(4,180,200,1)), color-stop(86%, rgba(50,82,103,1)), color-stop(93%, rgba(54,74,95,1)));
    background: -webkit-linear-gradient(top, rgba(4,180,200,1) 0%, rgba(50,82,103,1) 86%, rgba(54,74,95,1) 93%);
    background: -o-linear-gradient(top, rgba(4,180,200,1) 0%, rgba(50,82,103,1) 86%, rgba(54,74,95,1) 93%);
    background: -ms-linear-gradient(top, rgba(4,180,200,1) 0%, rgba(50,82,103,1) 86%, rgba(54,74,95,1) 93%);
    background: linear-gradient(to bottom, rgba(4,180,200,1) 0%, rgba(50,82,103,1) 86%, rgba(54,74,95,1) 93%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04b4c8', endColorstr='#364a5f', GradientType=0 );*/
    /*height: 300px;*/
    
    padding: 0;

}

.main {
    width: 100%;
    margin: 0 auto; 
}


.main-nav {
    background: rgba(54,74,95,1);
    padding-top: 5px;
    margin: 0 auto;
    width: 100%;
}

.main-nav ul {
    width: 100%;
    text-align: center;
}

.main-nav ul li {
    margin-top: 0px;
    border-top: 1px solid rgba(4,180,200,1);
    border-bottom: 2px solid rgba(36,53,70,1);
}

.main-nav ul li:last-child {
    border-bottom: none;
}

.main-nav ul li a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    text-decoration: none;
    font-family: 'Cuprum', sans-serif;
    font-size: 1.5em;
    display: block;
}

.main-nav ul li a:hover {
    color: rgba(4,180,200,1);
}

.main-nav a.active {
    font-size: 2em;
    color: rgba(66,232,251,1);
    text-shadow: rgba(36,53,70,1) 1px 1px 0;
    border-left: 6px solid rgba(66,232,251,1);
    border-right: 6px solid rgba(66,232,251,1);
}


.logo {
    width: 100%;
    background: rgba(54,74,95,1);
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.logo .name {
    width: 95%;
    max-width: 500px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

.logo h1 {
    font-size: 1.8em;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    padding-bottom: 0;
    color: rgba(66,232,251,1);
    background-color: rgba(54,74,95,1);
    text-shadow: rgba(36,53,70,1) 1px 1px 0;
    padding-left: 0;
}

.icon-logo {
    
}

.icon-logo img {
    margin-left: 6%;
    margin-top: 10px;
    width: 10%;
    float: left;
}

.logo span {
    font-size: .9em;
    color: rgba(4,180,200,1);
    text-shadow: #474747 2px 2px 1px;    
}

button.more-info {
   width: 100%;
   padding: 15px 10px;
   font-size: 1em;
   background-color: #42e8fb;
   border: none;
   font-family: 'Rajdhani', sans-serif;
   font-weight: 600;
   text-transform: uppercase;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
    font-family: 'Rajdhani', sans-serif; 
    background: #142638;
}



.content-projects {
    background-color: #848484;
    /*background: #142638;*/
    padding: 0;
    width: 100%;
    padding: 15px;
}


.content h1 {
    font-family: 'Cuprum', sans-serif;
    color: #bad6f3;
}

.content p {
    font-family: 'Rajdhani', sans-serif; 
    font-size: 1.2em;
    color: #bad6f3;
}

.skills  {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: #FFF;
}

.skills ul {
    margin-bottom: 30px;
}

.skills ul li {
    margin-bottom: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;

}

#freddy-avatar {
    width: 100%;
	display: block;
    height: 200px;
    margin: 0 auto;
}

.icons {
    padding: 15px;
}

.email-icon {
    width: 50px;
}

.twitter-icon {
    width: 45px;
    margin-left: 15px;
}

.photo-container {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    width: 85%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

}

.photo-container img {
    max-width: 100%;

 }   

/*.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    background: red;
    bottom: 25px;
}*/

/* ---- Overlay information -----*/

#overlay {
  opacity: 0;   
  /*background:rgba(46,63,80,0.9);*/
  background: #d8d7d7;
  width:120%;
  height:100%;
  position:absolute;
  top:0;
  left:-10%;
  display:none;
  text-align:center;
  /*border: solid 1px #142638;*/
  
}

#overlay span {
  margin-left:  auto;   
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 5px;
  background: #d8d7d7;
  color: #142638;;
  /*border: 1px solid #FFFFFF;*/
  width: 25%; 
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding: 0.75em;
  transition: all 0.55s;
  border-radius: 5px;
  -webkit-box-shadow: -1px 10px 11px -4px rgba(9,23,36,0.83);
  -moz-box-shadow: -1px 10px 11px -4px rgba(9,23,36,0.83);
   box-shadow: -1px 10px 11px -4px rgba(9,23,36,0.83);
}

.descrip-proj {
    padding: 5px 15px 15px 15px;
}

.descrip-proj h1 {
    font-size: 1.2em;
}

.descrip-proj p {
    font-family: 'Rajdhani', sans-serif;
    color: #142638;
    margin: 5px 10px 10px 10px;
    font-size: 1.2em;
    font-weight: 600;
}

button.go_project {
    background: #142638;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 30%;
    z-index: 10000;
    font-family: 'Cuprum', sans-serif;
    font-size: 1em;
    font-weight: 700;
}

button.go_project a {
    text-decoration: none;
    color: rgba(66,232,251,1);
}






/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}





footer {
    padding: 0 10px 10px 10px;
    width: 100%;
    height: auto;
    background:  #364a5f;
    
}

footer #contact {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    color: rgba(66,232,251,1);
    padding: 15px;

}

#contact p {
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 2.1;
}

#contact span {
    font-size: 1.2em;
    line-height: 1.5;
    font-family: 'Cuprum', sans-serif;
}

#contact span a {
    color: rgba(66,232,251,1);
}


footer button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: solid 2px #fff;
    background-color: #364a5f;
    color: #fff;
    padding: 10px;
}

footer button a {
    color: #fff;
}

#contact span.copy {
    font-size: 0.8em;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
}

#contact .email-icon {
    width: 20px;
    margin-right: 10px;
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it {
  100% {
    fill: #629a9e;
  }
}

.silueta-cara {
	stroke: #fff;
    stroke-width: 3;
    stroke-dasharray: 1015.6517944335938;
    stroke-dashoffset: 1015.6517944335938;
    animation: offset 1s .5s linear forwards;
}

.boca-barbas {
	stroke: #fff;
    stroke-width: 3;
    stroke-dasharray: 325.0557556152344;
    stroke-dashoffset: 325.0557556152344;
    animation: offset 1s linear forwards;
}

.pelo-nariz {
	stroke: #fff;
    stroke-width: 3;
    stroke-dasharray: 785.1233520507812;
    stroke-dashoffset: 785.1233520507812;  
    animation: offset 1s linear forwards;
}

.eye-right,
.eye-left {
	stroke: #fff;
    stroke-width: 3;
    stroke-dasharray: 50.551212310791016;
    stroke-dashoffset: 50.551212310791016;  
    animation: offset 1s 1s linear forwards, fill-it .8s 1s forwards;
}

.cejas {
	stroke: #fff;
    stroke-width: 3;
    stroke-dasharray: 306.1253662109375;
    stroke-dashoffset: 306.1253662109375;  
    animation: offset 1s 1.5s linear forwards;
}

.pants-1 {
	stroke: #fff;
    stroke-width: 3;
    stroke-dasharray: 225.4621124267578;
    stroke-dashoffset: 225.4621124267578;  
    animation: offset 1s 1.5s linear forwards;
}

.pants-2 {
	stroke: #fff;
    stroke-width: 3;
    stroke-dasharray: 228.33541870117188;
    stroke-dashoffset: 228.33541870117188;  
    animation: offset 1s 1.6s linear forwards;
}

.pie {
	stroke: #fff;
    stroke-width: 3;
    stroke-dasharray: 127.06863403320312;
    stroke-dashoffset: 127.06863403320312;  
    animation: offset 1s 1.7s linear forwards;
}


/* ----///////////////---------- MEDIA QUERIES ---- */


/* ------------ TABLET -----------  */

@media (min-width: 769px) {
    #freddy-avatar {
        height: 250px;
    }

    .container {
        padding: 0 2.25em 3em;
    }
   

    .photo-container {
        float: left;
        width: 37%;
        margin-top: 20px;
        margin-left: 8.666666667%;
        margin-right: 8.666666667%;
        border: none;
     }

     .photo-container:nth-child(2n) { 
        margin-left: 0;
     }

    .content {
    background: #142638;
    padding-left: 80px;
    padding-right: 80px;
    }

    .content p {
        color: #fff;
    }

    .content-projects {
    /*background: #cee3e6;*/
    background: #142638;
    }

    .main-nav {
        margin-top: 20px;
    }

    .logo h1 {
    font-size: 2.8em;
    }

    .icon-logo img {
    margin-left: 8%;
    margin-right: 2px;
    margin-top: 10px;
    width: 10%;
    }

    .main-nav ul li {
        margin-top: 0px;
        border-bottom: none;
        display: inline-block;
        width: 200px;
        border-top: none;
    }

    .active {
        background: #142638;
    }  

    #overlay {
      opacity: 0;   
      /*background:rgba(46,63,80,0.9);*/
      background: #d8d7d7;
      width:90%;
      height:90%;
      position:absolute;
      top:0;
      left:5%;
      display:none;
      -webkit-box-shadow: 0px 9px 39px 1px rgba(9,23,36,0.83);
      -moz-box-shadow: 0px 9px 39px 1px rgba(9,23,36,0.83);
       box-shadow: 0px 9px 39px 1px rgba(9,23,36,0.83);
  
    }

    #overlay span { 
        background: #142638;
        color: rgba(66,232,251,1);
    } 

    .descrip-proj {
        padding: 5px 10px 15px 10px;
    }

    .descrip-proj h1 {
        margin-top: 10px;
        font-size: 1.2em;
    }

    .descrip-proj p {
        font-size: 1em;
        text-align: left;      
    }

    #contact p {
        font-size: 1.5em;
    }

    #contact span {
        font-weight: 700;
    }
}

/*****************  DESKTOP ***********************/

@media (min-width: 1025px) {
   

    .wrap {
        margin: 0 auto;
        border-top: solid 10px #42e8fb;
     }  

     .main {
        
        max-width: 1260px;
     }

    .ilustration {
        width: 30%;
        padding: 0;
        margin: 15px 0 0 0;
        float: left;
    }

    .main-nav {
        margin-top: 38px;
        padding-right: 12%;
    }
    .main-nav ul {
        margin-left: -20%;
    }

    /*.main-nav a.active {
        border: none;
    }*/

    .head {
        width: 70%;
        padding: 0;
        margin: 0;
        float: right;
    }
∂
    .about_me {
        max-width: 1025px;

    }

    .logo {
        margin-top: 50px;
        padding-top: 60px;
    }

    .icon-logo img { 
        width: 12%;
    }

     #freddy-avatar {
            height: 300px;
        }

    .content {

        padding: 120px 150px;

         }

    .logo .name {
        float: left;
    }

    .icons {
        padding: 15px 0 15px 0;
    }

    button.go_project {
        bottom: 13%;
        left: 35%;
     }
        
     .descrip-proj p { 
        font-size: 1.3em;
     }

    .content-projects {
        
        /*margin: 0 auto;*/
        padding: 20px 20px 15px 20px;
        text-align: center;
    }
    .wrap-projects {
        max-width: 1260px;
        margin: 0 auto;
    }

    .wrap-me {
        max-width: 900px;
        margin: 0 auto;
    }

    .logo span {
        font-size: 1.2em;
    }

    .head-about {
        margin-top: 20px;
    }

    .logo-about {
        margin-left: -120px;
    }

}



